.main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title1 {
  color: #302b63;
  font-size: 30px;
  padding: 16px 0 8px 0;
}

.main__title2 {
  font-size: 20px;
}

.purple {
  color: #302b63;
}

.nav__header-input--wrapper {
  width: 100%;
  max-width: 600px;
  position: relative;
}

.nav__search-bar {
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  text-align: left;
  height: 48px;
  font-size: 20px;
  padding-left: 12px;
}

.nav__header--clicker {
  position: absolute;
  cursor: pointer;
  z-index: 10000;
  padding: 0 20px 0 8px;
  color: #302b63;
  font-size: 32px;
  right: 1px;
  top: 39px;
  transition: all 300ms ease;
}

.nav__header--clicker:hover {
  transform: scale(1.1);
}

.nav__header--clicker:active {
  transform: scale(0.75);
}

.searchIcon {
  height: 40px;
  width: 40px;
}

.movie--img-container {
  margin-top: 24px;
}

.movie--img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
