#nav__bar {
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    padding: 20px 48px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__header--search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__title {
    color: white;
    font-size: 36px;
}

.nav__header-input--wrapper{
    width: 100%;
    max-width: 600px;
    position: relative;
}

.nav__search-bar {
    margin: 34px 0;
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    text-align: left;
    height: 48px;
    font-size: 20px;
    padding-left: 12px;
}

.nav__header--clicker {
    position: absolute;
    cursor: pointer;
    z-index: 10000;
    padding: 0 20px 0 8px;
    color: #302b63;
    font-size: 32px;
    right: 1px;
    top: 39px;
    transition: all 300ms ease;
}

.nav__header--clicker:hover {
    transform: scale(1.1);
}

.nav__header--clicker:active{
    transform: scale(0.75);
}

.searchIcon {
    height: 40px;
    width: 40px;
}

#body {
    padding: 48px;
}

.body__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.body__movie {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.body__about {
    margin-top: 12px;
    max-width: 300px;
    font-size: 20px;   
    color: #0f0c29;
}

.body__about--wrapper {
    cursor: pointer;
}

.body__img--wrapper {
    transition: all 300ms ease;
    cursor: pointer;
}

.body__img--wrapper:hover {
    filter: brightness(80%);
    transform: scale(1.03);
}

.body__img{
    max-width: 300px;
}

.error-message {
    margin: 0 auto;
    margin-top: 48px;
}

.error--title {
    font-size: 26px;
}

.error--movie-name {
    font-weight: 700;
    color: red;
}

.link__style {
    text-decoration: none;
    color: #0f0c29;
}